@using LaptopStore.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<LAPTOP>

@{
    ViewBag.Title = "HomePage || GoodLaptop";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>New Products</h2>
<p></p>
<div class="row">
    @foreach (var laptop in Model)
    {


        <div class="col-lg-3 col-sm-6 portfolio-item">
            <div class="card h-100">
                <div class="portfolio-item h-75">
                    <a href="@Url.Action("Details","Laptop", new {id=laptop.ID})"><img class="card-img-top" src="~/Images/@laptop.ImageCover" alt=""></a>
                </div>
                <div class="card-body">
                    <h6 class="card-title">
                        <a href="@Url.Action("Details","Laptop", new {id=laptop.ID})">@laptop.ProductName</a>
                    </h6>
                    <p style="color:red;font-weight:bold">Price: @String.Format("{0:0,0}", @laptop.Price) VND</p>
                </div>
            </div>
        </div>
    }
</div>

Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline-block;
    }
</style>